<label>Server Name</label>

<!-- Event Binding
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->

<!-- Two Way Data Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName" />
<!-- <p>{{serverName}}</p> -->

<!-- Assigment 2 of Udemy Trainer -->
<!-- <input type="text" class="form-control" [(ngModel)]="userName" />
<p>{{ userName }}</p>
<button
  class="btn btn-primary"
  [disabled]="userName === ''"
  (click)="userName = ''"
>
  Reset User
</button> -->

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateSevers()"
>
  Add Server
</button>
<!-- <p>{{ serverCreationsStatus }}</p> -->

<!-- Using NG If -->
<p *ngIf="serverCreated">Server was created, server name is {{ serverName }}</p>

<!-- Using alternative of Ngfor
@for (server of servers; track $index) {
  <app-server></app-server>
} -->
<app-server *ngFor="let server of servers"></app-server>

<button class="btn btn-primary" (click)="onClick()">Display Detail</button>
<p *ngIf="showSecret">Secret Password</p>
<div *ngFor="let logItem of log"
[ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
[ngClass]="{'white-text': logItem >= 5}"
>{{ logItem }}</div>
