<label>Server Name</label>
<!-- Event Binding
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- Two Way Data Binding -->
<input type="text" class="form-control" [(ngModel)]="serverName">
<!-- <p>{{serverName}}</p> -->
<input type="text" class="form-control" [(ngModel)]="userName">
<p>{{userName}}</p>
<button class="btn btn-primary" [disabled]="userName === ''" (click)="userName = ''">Reset User</button>
<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateSevers()">Add Server</button>
<p>{{serverCreationsStatus}}</p>
<app-server></app-server>
<app-server></app-server>
